.main-menu .navigation > li {
  position: inherit;
  float: left;
  z-index: 2;
  padding: 35px 0px;
  margin: 0px 3px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.banner-section .pattern-layer {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-section {
  position: relative;
  overflow: hidden;
  padding: 65px 0px 70px 0px;
}

.bg-color-1 {
  background-color: #b7e9e1;
}

.banner-section .content-box h1 {
  display: block;
  font-size: 75px;
  line-height: 80px;
  margin-bottom: 31px;
  font-weight: 900;
}

.banner-section .content-box p {
  font-size: 20px;
  line-height: 28px;
  color: #061a3a;
  margin-bottom: 43px;
}

.banner-section .content-box form .form-group {
  position: relative;
  margin-bottom: 21px;
  margin-right: 100px;
}

.banner-section .content-box form .form-group input[type="text"] {
  position: relative;
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 40px;
  padding: 10px 90px 10px 30px;
  font-size: 16px;
  color: #848484;
  border: 1px solid #fff;
  box-shadow: 0 10px 30px rgb(57 202 187 / 15%);
  transition: all 500ms ease;
}

button,
input {
  overflow: visible;
}

.banner-section .content-box form .form-group button {
  background: #39cabb;
}

.banner-section .content-box form .form-group button {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 500ms ease;
}
.select-box li {
  position: relative;
  display: inline-block;

  margin-inline-end: 24px;
}
.select-box .single-checkbox {
  position: relative;
  display: block;
}
.select-box input[type="radio"] {
  display: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.select-box label {
  position: relative;
  display: block;
  padding-left: 20px;
  margin-right: 0px;
  margin-bottom: 0;
  color: #061a3a;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;
}

.select-box input[type="radio"]:checked + label span {
  border-color: #39cabb;
}
.select-box input[type="radio"] + label span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid #061a3a;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease;
}

.select-box label span:before {
  background-color: #39cabb;
}

.select-box label span:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: -1px;
  top: -1px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0, 0);
  transition: all 500ms ease;
}
.select-box input[type="radio"]:checked + label span:before {
  opacity: 1;
  transform: scale(1, 1);
}

.select-box li:last-child {
  margin: 0px !important;
}

.elementor *,
.elementor :after,
.elementor :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.banner-section .image-box {
  position: relative;
  display: block;
  margin-left: -40px;
  will-change: transform;
  transform: perspective(5000px) rotateX(0deg) rotateY(0deg);
  transition: 1s ease-out;
}
.banner-section .ss {
  transform: perspective(5000px) rotateX(9deg) rotateY(9deg) scale3d(1, 1, 1);
  transition: 0.9s ease;
}

.banner-section .image-box .image img {
  max-width: none;
}
/* .image-box .image img:hover {
  transform: rotatey(12deg);
} */

.content-box {
  text-align: left;
}
.content-column {
  z-index: 111;
}
