* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/***
Global Settings
 ***/

body {
  font-size: 15px;
  color: #808080;
  line-height: 28px;
  font-weight: 400;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 0 15px;
  }
}

.large-container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.small-container {
  max-width: 680px;
  margin: 0 auto;
}

.boxed_wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden !important;
  width: 100%;
  min-width: 300px;
}

a {
  text-decoration: none !important;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

a:hover {
  text-decoration: none;
  outline: none;
}

input,
button,
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #808080;
  font-weight: 400;
  margin: 0;
  transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  color: #00224f;
  margin: 0;
  transition: all 500ms ease;
}

/* Preloader */

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
}

.centred {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

figure {
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/** button **/

.theme-btn-one {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
  color: #fff !important;
  text-align: center;
  padding: 17px 40px;
  border-radius: 30px;
  z-index: 111;
  box-shadow: 0 20px 30px #d5edea;
  transition: all 500ms ease;
  cursor: pointer;
}

.theme-btn-one i {
  position: relative;
  font-size: 13px;
  margin-left: 10px;
}

.theme-btn-two {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  padding: 12px 40px;
  border-radius: 30px;
  z-index: 1;
  border: 2px solid #ebeef1;
  transition: all 500ms ease;
}

.theme-btn-two:hover {
  color: #fff;
}

.docpro-pagination > ul {
  position: relative;
  display: block;
}

.docpro-pagination > ul > li {
  display: inline-block;
  margin: 0 3px;
}

.docpro-pagination > ul > li > .page-numbers {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  height: 50px;
  width: 50px;
  line-height: 50px;
  background: transparent;
  border: 1px solid #e6e8ec;
  border-radius: 50%;
  text-align: center;
  color: #061a3a;
  z-index: 1;
  transition: all 500ms ease;
}

.docpro-pagination > ul > li > .page-numbers:hover,
.docpro-pagination > ul > li > .page-numbers.current {
  color: #fff;
  box-shadow: 0 10px 10px #d5edea;
  background: #39cabb;
  border-color: #39cabb;
}

.sec-pad {
  padding: 115px 0 120px 0;
}

.mr-0 {
  margin: 0;
}

.scroll-top {
  width: 55px;
  height: 55px;
  line-height: 55px;
  position: fixed;
  bottom: 105%;
  right: 30px;
  font-size: 24px;
  z-index: 99;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: 1s ease;
}

.scroll-top.open {
  bottom: 50px;
}

.scroll-top span {
  color: #fff;
}

.sec-title {
  position: relative;
  display: block;
  margin-bottom: 50px;
}

.sec-title.centred {
  text-align: center !important;
}

.sec-title p {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 17px;
}

.sec-title h2 {
  position: relative;
  display: block;
  font-size: 50px;
  line-height: 55px;
  font-weight: 900;
}

.sec-title.light h2 {
  color: #fff;
}
